@model IEnumerable<EntrePatasWEB.Models.SolicitudVacunaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitudVacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolicitudVacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.IdSolicitudVacuna  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.IdSolicitudVacuna  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.IdSolicitudVacuna  })
            </td>
        </tr>
}
    </tbody>
</table>
